<article class="movie-card" (mouseenter)="hovered = true" (mouseleave)="hovered = false" [class.hovered]="hovered" (click)="toggleDetails()" [class.movie-card-selected]="selectedMovie()">
    @if (posterURL()) {
      <img [src]="'https://image.tmdb.org/t/p/w500' + posterURL()" />
    } @else {
      <div class="poster-placeholder" role="img" aria-label="No poster available">
        <div class="placeholder-inner">
          <app-icon name="no-poster" class="poster-icon" />
          <div class="placeholder-text">{{title()}}</div>
        </div>
      </div>
    }

    @if (posterURL()) {
      <div class="overlay">
      </div>
    }
</article>

