<nav [class.menu-open]="mobileMenuIsOpen">
    <app-icon name="burger-icon" class="menu-button" (click)="toggleMenu()"/>
    <span class="flex-container">
        <app-icon name="app-icon" class="nav-icon" />
        <h1>Pickflicks</h1>
    </span>
    <ul class="desktop-nav">
        <li routerLink="/browse" [queryParams]="{ tab: currentTab() }" routerLinkActive="active">
            Find movie
        </li>
        <li routerLink="/watchlist" routerLinkActive="active">
            My Watchlist
        </li>
        <li routerLink="/about" routerLinkActive="active">
            About
        </li>
    </ul>
</nav>

@if (showSubnav()) {
  <div class="subnavbar">
    @for (tab of tabs; track tab) {
      <button
        type="button"
        (click)="selectTab(tab)"
        [class.active]="this.currentTab().replaceAll('_', ' ') === tab.toLowerCase()"
      >
        {{ tab }}
      </button>
    }
  </div>
}

<app-menu [isOpen]="mobileMenuIsOpen" (close)="closeMenu()" />