<article class="watchlist-movie-card">
  <img
    [src]="'https://image.tmdb.org/t/p/w500' + watchlistMovie().poster_path"
    alt="{{ watchlistMovie().title }} poster"
    class="movie-poster"
  />

  <div class="movie-config">
    <div class="movie-details">
      <h2>{{ watchlistMovie().title }}</h2>
      <button class="toggle-watched-button" (click)="toggleWatched()">
        <app-icon name="checkmark-icon"></app-icon>
        Mark as watched
      </button>
    </div>

    <button type="button" class="remove-button" (click)="removeFromWatchlist(this.watchlistMovie().id)">
      <app-icon name="trash-icon"></app-icon>
      Remove from watchlist
    </button>
  </div>
</article>
