<article class="movie-details">
    @if(isLoading()){
        <app-movie-details-skeleton />
    } @else {
                        <div class="poster-hero" [style.background-image]="'url(https://image.tmdb.org/t/p/w500' + movie()?.poster_path + ')'">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie()?.poster_path" class="poster-image"/>
                </div>

                <div class="details-content">
                    <h2>{{ movie()?.title }}</h2>
                    <div class="details">
                        <div class="tags">
                          @for (genre of movie()?.genres; track $index) {
      
                              <span class="tag">{{genre.name}}</span>
                          }
                        </div>
                        <div class="sub-info">
                            <div class="flex-container">
                                <p class="info-text">{{movie()?.runtime}} min</p>
                                <p class="info-text">{{movie()?.release_date?.substring(0,4)}}</p>
                            </div>
                            @if(rating() !== "N/A"){
                                <div class="flex-container">
                                    <p>{{rating()}}</p>
                                    <app-icon name="imdb-icon" class="rating-icon" />
                                </div>
                            }
                        </div>
                    </div>
                    <p class="movie-description">{{movie()?.overview}}</p>
                    @if(cast().length > 0){
                        <div class="cast">
                            <h3>Cast</h3>
                            <div class="cast-slider">
                                  @for (member of cast(); track $index) {
                                      <div class="cast-card">
                                          @if(member.profile_path){
                                              <img [src]="'https://image.tmdb.org/t/p/w500' + member.profile_path" class="cast-image"/>
                                          } @else {
                                              <img src="profile-default.png" alt="profile-default">
                                          }
                                          <p>{{member.name}} - {{member.character}}</p>
          
                                      </div>  
                                  }
                            </div>
                        </div>
                    }

                    @if(directors().length > 0){
                        <div class="director">
                            <h3>Director</h3>
                            <div class="director-slider">
                                @for (director of directors(); track $index) {
                                          <div class="director-card">
                                              @if(director.profile_path){
                                                  <img [src]="'https://image.tmdb.org/t/p/w500' + director.profile_path" class="cast-image"/>
                                              } @else {
                                                  <img src="profile-default.png" alt="profile-default">
                                              }
                                              <p>{{director.name}}</p>
                                          </div>  
                                      }
          
                            </div>
                        </div>
                    }
                </div>
                <div class="bottom-container">
                  @if(streamProviders() != undefined && streamProviders().length > 0){
                      <div class="stream-options">
                          <h4>Stream on</h4>
                          <div class="stream-slider">
                            @for (streamer of streamProviders(); track $index) {
                                @if (getProviderIcon(streamer.provider_name)) {
                                    <app-icon
                                        [name]="getProviderIcon(streamer.provider_name)!"
                                        class="rating-icon"
                                        title={{streamer.provider_name}}
                                    />
                                    } @else {
                                    <p>{{ streamer.provider_name }}</p>
                                    }
                            }
                          </div>
                      </div>
      
                  }
                    <button class="add-button" (click)="addToWatchlist()">Add to watchlist</button>
                </div>
            }
      </article>
