.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  background-color: rgba(99, 102, 241, 0.2);
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(99, 102, 241, 0.25);
  }
  100% {
    background-color: rgba(99, 102, 241, 0.12);
  }
}

.skeleton-card {
  display: block;
  width: 100%;
  aspect-ratio: 2 / 3;
  height: 100px;
}