<article>
    <!-- movie poster -->
    <div class="skeleton poster-skeleton">

    </div>
    <div class="skeleton-details">
        <div class="skeleton skeleton-title">
    
        </div>
        <!-- tags -->
         <div class="tag-container">
             <div class="skeleton skeleton-tag"></div>
             <div class="skeleton skeleton-tag"></div>
             <div class="skeleton skeleton-tag"></div>
             <div class="skeleton skeleton-tag"></div>

         </div>
         <div class="skeleton skeleton-bar">

         </div>
        <!-- description -->
         <div class="skeleton-description">
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
         </div>
        <!-- cast -->
         <div class="skeleton-cast">
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton-flex">
                <div class=" skeleton skeleton-portrait"></div>
                <div class="skeleton skeleton-portrait"></div>
            </div>
         </div>
    </div>
    <!-- title -->
</article>

