:host {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.watchlist-container {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 0;
    height: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 1rem;
    flex: 1;
}


.stats {
    display: flex;
    gap: 1rem;
}

.stats .stat {
    background-color: var(--surface);
    color: var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    height: 60px;
}

.stats .stat:hover {
    border: 1px solid var(--accent);
    cursor: pointer;
}

.stats .stat.active {
    border: 1px solid var(--accent);
}

.stats .stat h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.stats .stat p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.action-header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    gap: 1rem;
}

.watchlist-searchbar {
    height: 100%;
}

.watchlist-searchbar input {
    flex: 4;
    padding: 0.5rem 1rem;
    background-color: var(--surface);
    border: 1px solid var(--accent);
    border-radius: 4px;
    color: var(--accent);
    font-family: var(--main-font);
    font-size: 1.2rem;
    outline: none;
    height: 100%;
    width: 100%;
}

.watchlist-searchbar input::placeholder {
    color: var(--accent);
    font-weight: 300;
}

.random-button, .random-button-mobile {
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid var(--accent);
    background-color: var(--surface);
    color: var(--accent);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.random-button-mobile {
    display: none;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    align-items: center;
    height: 50px;
    align-self: start;
}

.random-button app-icon, .random-button-mobile app-icon {
    fill: var(--accent);
}

.random-button:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--surface);

}

.random-button:hover app-icon {
    fill: var(--surface);
}

.movie-grid-desktop {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    overflow-y: auto;
    height: 100%;
    min-height: 0;
    align-items: stretch;
}

.movie-grid-desktop > * {
    height: 100%;
}

.movie-grid-desktop::-webkit-scrollbar {
    display: none;
}

.movie-list-mobile {
    display: none;
}

.no-movie-message {
    color: var(--accent);
}


@media (max-width: 769px){
  :host {
        flex: none;
        overflow-y: auto;
        height: 100%;
        display: block;
    }

    .watchlist-container {
       text-align: center;
       height: 100%;
       overflow-y: auto;
       display: flex;
       flex-direction: column;
    }
    
    .stats {
        justify-content: start;
    }
    .stats .stat {
        min-width: 0;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stats .stat h4 {
        font-size: 0.9rem;
    }

    .action-header {
        display: none;
    }

    .random-button-mobile {
        display: flex;
        width: 100%;
    }
    .movie-grid-desktop {
        display: none;
    }

    .movie-list-mobile {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;
        height: 100%;
        min-height: 0;
    }
}

@media (max-width: 425) {
    :host {
        flex: none;
        overflow-y: auto;
        height: 100%;
        display: block;
    }

    .watchlist-container {
       text-align: center;
       height: 100%;
       overflow-y: auto;
       display: flex;
       flex-direction: column;
    }
    
    .stats {
        justify-content: space-between;
    }
    .stats .stat {
        min-width: 0;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stats .stat h4 {
        font-size: 0.9rem;
    }

    .action-header {
        display: none;
    }

    .random-button-mobile {
        display: flex;
        width: 100%;
    }
    .movie-grid-desktop {
        display: none;
    }

    .movie-list-mobile {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;
        height: 100%;
        min-height: 0;
    }
}

