<main class="watchlist-container">
    <div class="filter-section">
        <div class="stats">
            <div class="stat" (click)="changeFilter(watchlistFilter.All)" [class.active]="currentFilter() === watchlistFilter.All" aria-label="All movies">
                <h4>Total movies</h4>
                <p>{{ getWatchlist() ? getWatchlist().length : 0 }}</p>
            </div>
            <div class="stat" (click)="changeFilter(watchlistFilter.Watched)" [class.active]="currentFilter() === watchlistFilter.Watched" aria-label="Watched movies">
                <h4>Watched</h4>
                <p>{{ getWatchlist()?.filter(m => m.isWatched).length || 0 }}</p>
            </div>
            <div class="stat" (click)="changeFilter(watchlistFilter.NotWatched)" [class.active]="currentFilter() === watchlistFilter.NotWatched" aria-label="Not watched movies">
                <h4>Not watched</h4>
                <p>{{ getWatchlist()?.filter(m => !m.isWatched).length || 0 }}</p>
            </div>
        </div>
        <div class="filter-box">

        </div>
    </div>
    <div class="movie-section">

        <div class="action-header">
            <div class="watchlist-searchbar">
                <input #searchQuery type="text" placeholder="Search for movie title" (input)="onSearchUpdated(searchQuery.value)" value="{{this.searchQuery()}}">
            </div>
            <button class="random-button">
                <app-icon name="random-icon"/>
                Add Random movie
            </button>
        </div>

        <div class="movie-grid">
            @if (getWatchlist() ? getWatchlist().length > 0 : false) {
                
                @switch (currentFilter()) {
                    @case (watchlistFilter.All) {
                        @for (movie of getWatchlist(); track movie.id) {
                            <app-watchlist-movie-card [watchlistMovie]="movie"></app-watchlist-movie-card>
                        }
                    }
                    @case (watchlistFilter.Watched) {
                        @for (movie of getWatchlist()?.filter(m => m.isWatched) || []; track movie.id) {
                            <app-watchlist-movie-card [watchlistMovie]="movie"></app-watchlist-movie-card>
                        }
                    }
                    @case (watchlistFilter.NotWatched) {
                        @for (movie of getWatchlist()?.filter(m => !m.isWatched) || []; track movie.id) {
                            <app-watchlist-movie-card [watchlistMovie]="movie"></app-watchlist-movie-card>
                        }
                    }
                }
            } @else {
            
                <p class="empty">Your watchlist is empty.</p>
            
            }
        </div>
    </div>
</main>
